table {
    width: 100%;
  }
  
  .mat-elevation-z8{
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .mat-elevation-z8{
      width: 650px;
      
    }
    .mat-cell, .mat-footer-cell {
      //font-size: 10px;
      text-transform: lowercase !important;
    }
  }