<mat-drawer-container class="example-container h-p-100" >
    <mat-drawer mode="side" opened class="padding-10">
        <div class="row margin-0">
            <button mat-button [routerLink]="['/clients']">Clientes</button>
        </div>
        <div class="row margin-0">
            <button mat-button [routerLink]="['/products']">Productos</button>
        </div>
        <div class="row margin-0">
            <button mat-button [routerLink]="['/sales']">Venta</button>
        </div>
        
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
